<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand ms-3" href="/">CmsCartShop</a>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/admin/pages">Pages</a>
        <a class="nav-link active" aria-current="catagory" href="/admin/catagory">Catagory</a>
        <a class="nav-link active" aria-current="product" href="/admin/product">Product</a>
      </div>
    </div>
  </div>
</nav>
<br><br>
<div class="container">
  <%- include("message") %> 
</div>
